* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  background-color: aliceblue;

}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  font-size: 24px;
}

.dashboard {
  padding: 0px 15px;
  margin: 0px auto;
}

/*== styled navigation (vid 8)==*/

.dashboard .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.dashboard .navigation img.logo {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.dashboard .navigation img.user {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.dashboard .navigation div .material-symbols-outlined {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: #727272;
}

.dashboard .navigation div {
  margin-top: 10px;
}

/*== main dashboard (vid 9)==*/
/* search */

.dashboard .main .search form {
  margin-top: 50px;
  position: relative;
}

.dashboard .main .search form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 60px;
  border: 1px solid #dadada;
  background-color: rgba(0 0 0/ 0);
}

.dashboard .main .search form span {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #727272;
}

.dashboard .main .search .notifaction {
  margin-top: 20px;

}

.dashboard .main .search .notifaction span:nth-child(1) {
  margin-right: 15px;
}


/*== ons project (vid 9)==*/

.dashboard .main .title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.dashboard .main .title h1 {
  font-size: 30px;
  line-height: 0px;
}

.dashboard .main .title form {
  margin-top: 40px;
}

.dashboard .main .title form label {
  margin-right: 15px;
  color: #727272;
  font-size: 16px;
}

.dashboard .main .title form select {
  border: none;
  font-size: 16px;
  background-color: rgba(0 0 0/ 0);
}

/*project list*/
.dashboard .main .boards_list h2 {
  font-size: 20px;
  line-height: 0;
  margin-bottom: 5px;
}

.dashboard .main .boards_list p {
  color: #727272;
}

