* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  background-color: aliceblue;
  min-height: 100vh;
}

.material-symbols-outlined {
  white-space: wrap;
  line-height: initial;
}

.dashboard {
  padding: 0px 15px;
  margin: 0px auto;
}

p {
  font-size: 14px;
}

/*== styled navigation*/
.dashboard .navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.dashboard .navigation img.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.dashboard .navigation img.user {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.dashboard .navigation div .material-symbols-outlined {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 30px;
  color: #727272;
}

/*== main dashboard*/
/* search */
.dashboard .main .search form {
  margin-top: 50px;
  position: relative;
}

.dashboard .main .search form input {
  width: 100%;
  font-size: 16px;
  padding: 10px 10px 10px 60px;
  border: 1px solid #dadada;
  background-color: rgba(0 0 0/ 0);
}

.dashboard .main .search form span {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #727272;
}

.dashboard .main .search .notifaction {
  margin-top: 20px;
}

.dashboard .main .search .notifaction span:nth-child(1) {
  margin-right: 15px;
  position: relative;
}

.dashboard .main .boards_list .boards .material-symbols-outlined.m1 {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0 0;
}

/*== ons project*/
.dashboard .main .title {
  margin-top: 20px;
  margin-bottom: 30px;
}

.dashboard .main .title h1 {
  font-size: 30px;
}

.dashboard .main .title form {
  margin-top: 40px;
}

.dashboard .main .title form label {
  margin-right: 15px;
  color: #727272;
  font-size: 16px;
}

.dashboard .main .title form select {
  border: none;
  font-size: 16px;
  background-color: rgba(0 0 0/ 0);
}

/*project list*/
.dashboard .main .boards_list h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard .main .boards_list p {
  color: #727272;
}

.dashboard .main .boards_list .boards {
  padding: 20px 20px 20px 60px;
  background: white;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, .1);
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.dashboard .main .boards_list .boards .category {
  width: 20px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  left: 0;
}

.dashboard .main .boards_list .boards .material-symbols-outlined {
  margin-bottom: 20px;
}

.category_color1 {
  background-color: #4F6F52 !important;
}

.category_color2 {
  background-color: #739072 !important;
}

.category_color3 {
  background-color: #86A789 !important;
}

.category_color4 {
  background-color: #C3E2C2 !important;
}

.category_color5 {
  background-color: #527853 !important;
}

.category_color6 {
  background-color: #D2E3C8 !important;
}

.category_color7 {
  background-color: #EAECCC !important;
}

/*Chart*/
.dashboard .secondary .material-symbols-outlined.m1 {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 0;
}

.dashboard .secondary .chart {
  background-color: white;
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
}

.dashboard .secondary .Inbreng .chart h2 {
  display: flex;
  justify-content: center;
}

.dashboard .secondary .Inbreng .chart p {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: #727272;

}

.dashboard .secondary .Verbruik .chart {
  height: calc(100% - 30px);
}

.dashboard .secondary .Verbruik .chart h2 {
  display: flex;
  justify-content: center;
}

.dashboard .secondary .Verbruik .chart p {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: #727272;
}

.dashboard .secondary .chart .category {
  width: 20px;
  height: 50px;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  left: 0;
}

.category_color8 {
  background-color: #A3C9AA !important;
}

/*Milan Lamp na een bepaalde tijd uitzetten*/
.card {
  width: 400px;
  height: 400px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  background: #EAECCC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 80px;
}

.card--stopwatch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.timerText {
  font-size: 200%;
}

.button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.button--start {
  background: #D2E3C8;
}

.button--stop {
  background: #EF9F9F;
}

.button--reset {
  background: #DAEAF1;
}

/*  board 1 giorgina lamp aan en uit zetten*/
.boards label {
  position: absolute;
  border-radius: 10px;
}

.boards label span {
  left: center;
  width: 75px;
  height: 75px;
  background: #333;
  border: 6px solid #212121;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boards input:checked~span {
  left: 75px;
  transition: 0.5s;
  display: grid;
}
/* 
.boards input {
  display: none;
} */

.boards label span ion-icon {
  color: rgb(255, 255, 255, 0.25);
  font-size: 2em;
  transition: 0.5s;
}

.boards input:checked~label span ion-icon {
  color: rgb(255, 255, 255, 1);
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 10px #fff) drop-shadow(0 0 15px #fff);
}

.boards .bulb {
  width: 348px;
  height: 408px;
  pointer-events: none;
  background: url(../img/bulb_off.jpg);
  transition: 0.5s;
}

.boards input:checked~.bulb {
  background: url(../img/bulb_on.jpg);
}

/* thermostaat dashboard 2 giorgina*/
div.second_container {
  width: 300px;
  height: 600px;
  background: #f2f5fa;
  border-radius: 30px;
}

.font14 {
  font-size: 14px;
}

.font20 {
  font-size: 20px;
}

.font28 {
  font-size: 28px;
}

.fon48t {
  font-size: 48px;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.dark-grey {
  color: #3C414B;
}

.light-grey {
  color: #B6BAC0;
}

.medium-grey {
  color: #41454A;
}

.blue {
  color: #2CD9E5;
}

div.outer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#1aebef 0deg, #2cd9e5 135deg, #f4f5f7 0deg);
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
}

div.middle {
  height: 190px;
  width: 190px;
  background: #e3e5ec;
  border-radius: 50%;
}

div.inner {
  width: 130px;
  height: 130px;
  background: #f7f9fb;
  border-radius: 50%;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}

div.marker {
  width: 20px;
  height: 20px;
  background: #f7f9fb;
  z-index: 1;
  border-radius: 0% 50% 50% 50%;
  transform: rotate(45deg) translate(120px) rotate(-45deg);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

div.marker::after {
  content: '24';
  font-weight: 700;
  font-size: 10px;
  color: #2cd9e5;
  display: inline-block;
  transform: rotate(45deg);
  margin-top: 3px;
  position: absolute;
}

div.outer::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #f4f5f7;
  z-index: 1;
  transform: rotate(270deg) translate(110px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

div.menu>i {
  color: #41454a;
  font-size: 20px;
}

div.menu>i.active {
  background: linear-gradient(to bottom, #2fddea, #5bc1de);
  -webkit-backdrop-clip: text;
  -webkit-text-fill-color: transparent;
}

/* dashboard 3 woonkamer/buiten temperatuur*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.widget {
  width: 320px;
  background-image: linear-gradient(135deg, #ffffff, #eef0f7);
  border-radius: 36px;
  box-shadow: -16px -16px 24px rgba(255, 255, 255, 0.3),
    16px 16px 24px rgba(0, 0, 0, 0.08), ;
}

.container {
  padding: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.header span {
  position: relative;
  font-size: 12px;
  padding-left: 14px;
  font-weight: 300;
}

.header span:before {
  content: '';
  position: absolute;
  height: 6px;
  width: 6px;
  top: calc(50% - 3px);
  left: 0;
  border-radius: 50%;
  background-color: #9dfbcd;
}

.header input {
  position: absolute;
  visibility: hidden;
}

.header label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
  background-image: linear-gradient(135deg, #f0f1fa, #ffffff);
  border-radius: 50%;
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.08), -4px -4px #ffffff;
  transition: all linear 0.3s;
}

.header input:checked+label {
  color: #ffffff;
  background-image: linear-gradient(135deg, #97e3fe, #5eb5de);
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.08),
    -4px -4px #ffffff,
    inset 6px 6px 18px rgba(0, 0, 0, 0.015),
    inset -4px -4px rgba(255, 255, 255, 0.3);
}

.rs-bar {
  z-index: 0 !important;
}

.rs-tooltip-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  font-size: 52px;
  border-radius: 50%;
  background-image: linear-gradient(135deg, #97e3fe, #5eb3de);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 4px #ffffff;
}

.rs-tooltip-text:after {
  content: "˚";
  position: relative;
  font-size: 32px;
  top: -14px;
  margin-right: -8px;
}

.rs-handle {
  background-color: #5eb3de;
  border: 12px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

/* temp-meten */
.temp-meten {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-top: 8px;
}

.temp-meten__card {
  flex-basis: 50%;
  text-align: center;
  padding: 4px;
  border-radius: 12px;
  background-color: #fff4f4;
}
.temp-meten__card p {
  margin-bottom: 0;
}

/*Weersverwachting*/
.dashboard .main .boards.boards-weer {
  position: relative;
  width: 400px;
  height: 100px;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 16px;
  padding: 20px;
  color: #86A789;
  transition: height .6s ease;
}

.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  left: 10px;
  font-size: 28px;
}

.search-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, .2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #212121;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}

.search-box input::placeholder {
  color: #86A789;
  text-transform: capitalize;
}

.search-box button {
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: #86A789;
  padding: 0 40px 0 5px;
  cursor: pointer;
}

.weather-box {
  text-align: center;
  margin: 40px 0;
}

.weather-box,
.weather-details,
.not-found {
  overflow: hidden;
  visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
  overflow: hidden;
  visibility: visible;
}

.weather-box .box,
.not-found .box{
  transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box{
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: .6s;
}

.weather-box .box .info-waeather {
  transform: translateY(-120%);
}

.boards.boards-weer.active .weather-box .box .info-waeather,
.boards.boards-weer.active .weather-details .info-humidity,
.boards.boards-weer.active .weather-details .wind .info-wind{
  transform: translateY(0%);
  transition: transform 1s ease;
}

.weather-box img {
  width: 68%;
}

.weather-box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
  position: absolute;
  font-size: 24px;
  margin-left: 4px;
}

.weather-box .description {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%);
}

.weather-details .info-humidity,
.weather-details .wind .info-wind{
  transform: translateY(-100%);
  overflow: hidden;
}

.weather-details.activ .humidity,
.weather-details.active .wind{
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details i {
  font-size: 56px;
  margin-right: 10px;
}

.weather-details span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p {
  font-size: 14px;
  font-weight: 500;
}

.not-found{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 110px;
}

.not-found img {
  width: 65%;
}

.not-found p{
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.city-hide{
  display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind{
  position: absolute;
  transform: translateY(-100%);
}

#clone-info-weather .weather{
  transform: translateY(120%);
  transition: transform 1s ease, opacity 0s;
  transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather{
  opacity: 0;
  transition-delay: 0s;
}

.active clone #clone-info-weather .weather{
  transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span{
  transform: translateY(100%);
  transition: transform 1s ease;
}

.actove-clone#clone-info-humidity span,
.actove-clone#clone-info-wind span{
  transform: translateY(0%);
}
/* sunrise sunset */
.container {
  width: 400px;
  max-width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

h2 {
  text-align: center;
  margin: 10px;
}

.kaartje{
  width: 100%;
  background-image: url(https://hdqwalls.com/download/red-dark-pixel-art-sunset-8k-uu-7680x4320.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px 10px;
  box-shadow: 0 5px 30px rgba(87, 11, 16, 0.5);
  position: relative;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Plaatst de flex-container-items zo ver mogelijk uit elkaar */
}

.sunrise, .sunset {
  flex: 1; /* Geeft de flex-container-items dezelfde flexibele grootte */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sunrise-label, .sunset-label {
  font-size: 18px;
  margin-bottom: 5px;
}

.sunrise-label {
  color: #FAE453;
}

.sunset-label {
  color: aqua;
}

#sunrise-time,
#sunset-time {
  font-size: 24p;
  color: white;
}
.sunrise-time {
  color: white;
}

.sunset-time {
  color: white;
}
/*Media Query */
@media screen and (min-width: 768px) {
  .kaartje> {
    width: 50px;
}
  /*main*/
  .main .boards_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dashboard .main .boards_list .boards {
    width: 47%;
  }

  .dashboard .main .boards_list h2 {
    font-size: 14px;
    line-height: 0;
    margin-bottom: 10px;
  }

  .dashboard .main .boards_list p {
    color: #727272;
    font-size: 12px;
  }

  .dashboard .main .boards_list .boards.board7 {
    width: 47%;
    margin-left: 190px;
    margin-bottom: 20px;
  }

  /*chart sec*/
  .dashboard .secondary {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 50%;
    gap: 120px;
  }

  .dashboard .secondary .chart span {
    margin-top: 50px;
  }

  /*timer*/
  .card {
    margin-top: 20px;
    width: 250px;
    height: 250px;
    margin-left: 0px;
  }

  .timerText {
    font-size: 150%;
  }

  .MinSecInput {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
  }

  .button {
    padding: 5px 10px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px) {

  .main {
    width: calc(100% - 120px);
    margin-left: 90px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }

  .main-nav {
    width: 100%;
  }

  .secondary {
    width: 27%;
    padding-top: 0;
    top: 20px;
    right: 0px;
    background-color: transparent;
  }

}